body {
  margin: 0;
  font-family:Satoshi!important;
  background-color: #f8f9fa;
  color: #121224;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
@tailwind base;
@tailwind components;
@tailwind utilities;
