.dropdownparent{
    position: relative;
    border: 3px solid red;
}
.dropdown{
    position: absolute;
    border: 2px solid black;
    height: 40vh;
    width: 200px;
    margin-top: 25%;
margin-left: 40px;
}